<%- include("partials/header") %>

<a href='/products'>Go Back</a>

<div class="container">
    <p> <%= product.name %> </p>
    <img src=" <%= product.image %> ">	
    <p> <%= product.description %> </p>
</div>

<%- include("partials/footer") %>