<%- include("partials/header") %>

<div class="container">
    <H1 style="text-align: center;"> <%= product.name %> </H1>
    <img src=" <%= product.image %> " 
    style="border: 1px solid #ddd; 
    border-radius: 4px; 
    display: block;
    padding: 5px; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:50%;
    ">
    <div 
    style="border: 1px solid #ddd; 
    border-radius: 4px;
    display: block;
    padding: 5px; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;">
    <p> <%= product.description %> </p>
    <a href="/videoRoom">
        <button class='btn btn-lg btn-primary btn-block'>
        Chat with <%= product.user %> 
        </button>
    </a>
    </div>
</div>

<%- include("partials/footer") %>