<%- include("partials/header") %>

<a href='/products'>Go Back</a>

<div class="container">
    <p> <%= product.name %> </p>
    <img src=" <%= product.image %> ">
    <p> <%= product.description %> </p>
    <a href="/videoRoom">
        <button>Chat with <%= product.user %> </button>
    </a>
</div>

<%- include("partials/footer") %>